.NavigationBar{
    list-style-type: none;

}

.NavigationBar li{

}

.NavigationBar-btn{
    margin: 3px;
    width: 170px;
    height: 35px;

    vertical-align: middle;
    line-height: 30px;

    display: flex;
    justify-content: left;
    align-items: center;

    border-radius: 3px;
    color: black;
}

.NavigationBar-btn:hover{
    background: #eae9e9;

}

.NavigationBar a{
    text-decoration: none;
}

.NavigationBar a:hover{
}

.NavigationBar-icon{
    height: 32px;
    width: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
